{
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "plugins": ["@prettier/plugin-pug"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}